<a href="https://colab.research.google.com/github/SaurabhVaze/airline-delays/blob/main/Project_2_Part_1_Data_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#Set 1

In [ ]:
airlines = pd.read_csv('/content/Airlines.csv')

In [ ]:
airlines.head()

   id Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
0   1      CO     269         SFO       IAH          3    15     205      1
1   2      US    1558         PHX       CLT          3    15     222      1
2   3      AA    2400         LAX       DFW          3    20     165      1
3   4      AA    2466         SFO       DFW          3    20     195      1
4   5      AS     108         ANC       SEA          3    30     202      0

1) Source of data

https://www.kaggle.com/datasets/jimschacko/airlines-dataset-to-predict-a-delay

2) Brief description of data

Dataset of different US flights used to predict whether a flight gets delayed or not.

3) What is the target?

Flight Delayed? (Y/N)

4) Is this a classification or regression problem?

This will be a classification problem 

5) How many features?

7

6) How many rows of data.

539383

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this

The lack of numerical features may limit the model's ability to predict accurately, along with a multitude of other factors that play into flight delays, which are not included in this dataset (weather, travel demand, etc.)

#Set 2

In [ ]:
aqi =  pd.read_csv('/content/US_AQI.csv')

In [ ]:
aqi.head()

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
0,0,10140,2022-01-01,21,Good,PM2.5,2.0,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
1,1,10140,2022-01-02,12,Good,PM2.5,2.0,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
2,2,10140,2022-01-03,18,Good,PM2.5,2.0,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
3,3,10140,2022-01-04,19,Good,PM2.5,2.0,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
4,4,10140,2022-01-05,17,Good,PM2.5,2.0,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles

1) Source of data

https://www.kaggle.com/datasets/calebreigada/us-air-quality-1980present

2) Brief description of data

This dataset will e=be used to predict a location's AQI(air quality index) reading, given a range of geographic, numerical and categorical data from the past 5 years

3) What is the target?

AQI

4) Is this a classification or regression problem?

Regression

5) How many features?

14

6) How many rows of data.

719330

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this

This dataset has a number of redundant and unneeded columns, which will be removed, leaving a very low count of numerical features. Also, at first glance, certain features seem unrealted to the target value, but furhter analysis may uncover hidden trends